.map-container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.responsive-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.state-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.state {
  display: flex;
  align-items: center;
  position: absolute; /* Absolute positioning for each state */
}

.state-name {
  font-size: 14px;
  font-weight: bold;
  color: red;  /* State name color in red */
  display: flex;
  align-items: center;
  z-index: 2;  /* Ensures the name stays above the red dot */
}

/* Media Queries for Responsive Design */

/* Desktop */
@media (min-width: 1024px) {
  .jammu {
    position: absolute;
    margin-top: 60%;  /* Adjust the top position */
    left: 40%;  /* Adjust the left position */
  }

  .punjab {
    top: 25%;
    left: 40%;
  }

  /* Add more states here */
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  .jammu {
    top: 30%;  /* Adjust the top position for tablet */
    left: 35%;  /* Adjust the left position for tablet */
  }

  .punjab {
    top: 20%;
    left: 30%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .jammu {
    top: 40%;  /* Adjust the top position for mobile */
    left: 30%;
  }

  .punjab {
    top: 35%;
    left: 30%;
  }
}
