
/* Positioning of state buttons */
.state {
  display: flex;
  color:white;
  align-items: center;
  position: absolute; /* Absolute positioning for each state */
  z-index: 10; /* Ensures the name stays above the red dot */
}

.state svg {
  color:#980000;
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .logodiv{
   position: relative;
    margin-top: 100px;
    margin-right: -610px;
    }
    
  .map-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -450px;
 margin-left:-180px
}
.responsive-map {
  position: relative;
  width: 80%; /* Adjust this width as needed */
  height: auto;
  object-fit: contain;
}
.state{
  font-size:14px
}
.state svg{
  font-size: 15px;
    margin-right: 2px;
}
  .jammu {
    top: 15%; /* Adjust the top position */
    left: 37%; /* Adjust the left position */
  }

  .punjab {
    top: 25%;
    left: 38%;
  }
  .himachal{
    top:22%;
    left:41%
  }
  .uttrakhand{
    top:27%;
    left:44%;
  }
  .haryana{
    top:29%;
    left:39%
  }
    .delhi{
    top:32%;
    left:41%
  }
  .rajasthan{
    top:35%;
    left:33%
  }
.uttarpardesh{
      top:36%;
    left:44%
}
.bihar{
      top:40%;
    left:54%
}
.jharkhand{
      top:45%;
    left:53%
}
.bengal{
      top:49%;
    left:57%
}
.sikkim{
  top:34%;
    left:59%
}
.assam{
   top:36%;
    left:63%
}
.meghalaya{
 top:40%;
    left:62%
}
.tripura{
   top:44%;
    left:61%
}
.mizoram{
   top:47%;
    left:65%
}

.nagaland{
   top:37%;
    left:68%
}
.arunachalpardesh{
   top:30%;
    left:64%
}
.gujrat{
    top:47%;
    left:31% 
}
.madhyapradesh{
    top:47%;
    left:38% 
}
.chattishgarh{
    top:52%;
    left:47% 
}
.orissa{
    top:54%;
    left:52% 
}
.maharashtra{
    top:56%;
    left:36% 
}
.goa{
    top:69%;
    left:35% 
}
.telangana{
    top:64%;
    left:42% 
}
.karnataka{
    top:71%;
    left:37% 
}
.andrapradesh{
    top:73%;
    left:43% 
}
.tamilnadu{
    top:82%;
    left:42% 
}
.kerala{
    top:84%;
    left:39% 
}
}

/* Tablet Styles */
@media (max-width: 1023px) and (min-width: 768px) {
  
   
    .map-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.responsive-map {
  position: relative;
  width: 80%; /* Adjust this width as needed */
  height: auto;
  object-fit: contain;
}
.state{
  font-size:11px
}
.state svg{
  font-size: 12px;
    margin-right: 2px;
}
  .jammu {
    top: 15%; /* Adjust the top position */
    left: 37%; /* Adjust the left position */
  }

  .punjab {
    top: 25%;
    left: 38%;
  }
  .himachal{
    top:22%;
    left:41%
  }
  .uttrakhand{
    top:27%;
    left:44%;
  }
  .haryana{
    top:29%;
    left:39%
  }
    .delhi{
    top:32%;
    left:41%
  }
  .rajasthan{
    top:35%;
    left:33%
  }
.uttarpardesh{
      top:36%;
    left:44%
}
.bihar{
      top:40%;
    left:54%
}
.jharkhand{
      top:45%;
    left:53%
}
.bengal{
      top:49%;
    left:57%
}
.sikkim{
  top:34%;
    left:59%
}
.assam{
   top:36%;
    left:63%
}
.meghalaya{
 top:40%;
    left:62%
}
.tripura{
   top:44%;
    left:61%
}
.mizoram{
   top:47%;
    left:65%
}

.nagaland{
   top:37%;
    left:68%
}
.arunachalpardesh{
   top:30%;
    left:64%
}
.gujrat{
    top:47%;
    left:31% 
}
.madhyapradesh{
    top:47%;
    left:38% 
}
.chattishgarh{
    top:52%;
    left:47% 
}
.orissa{
    top:54%;
    left:52% 
}
.maharashtra{
    top:56%;
    left:36% 
}
.goa{
    top:69%;
    left:35% 
}
.telangana{
    top:64%;
    left:42% 
}
.karnataka{
    top:71%;
    left:37% 
}
.andrapradesh{
    top:73%;
    left:43% 
}
.tamilnadu{
    top:82%;
    left:42% 
}
.kerala{
    top:84%;
    left:39% 
}
}

/* Mobile Styles */
@media (max-width: 767px) {
  
  .map-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }

  .responsive-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: contain; /* Ensure it maintains the aspect ratio */
  }
.state{
  font-size:10px
}
.state svg{
  font-size: 10px;
    margin-right: 2px;
}
   .jammu {
    top: 22%; /* Adjust the top position */
    left: 35%; /* Adjust the left position */
  }

  .punjab {
    top: 30%;
    left: 35%;
  }
  .himachal{
    top:28%;
    left:40%
  }
  .uttrakhand{
    top:32%;
    left:44%;
  }
  .haryana{
    top:33%;
    left:36%
  }
    .delhi{
    top:36%;
    left:39%
  }
  .rajasthan{
    top:39%;
    left:28%
  }
.uttarpardesh{
      top:38%;
    left:42%
}
.bihar{
      top:42%;
    left:55%
}
.jharkhand{
      top:46%;
    left:53%
}
.bengal{
      top:48%;
    left:58%
}
.sikkim{
  top:37%;
    left:60%
}
.assam{
   top:39%;
    left:65%
}
.meghalaya{
 top:42%;
    left:65%
}
.tripura{
   top:45%;
    left:65%
}
.mizoram{
   top:47%;
    left:70%
}

.nagaland{
   top:39%;
    left:73%
}
.arunachalpardesh{
   top:34%;
    left:72%
}
.gujrat{
    top:48%;
    left:26% 
}
.madhyapradesh{
    top:48%;
    left:35% 
}
.chattishgarh{
    top:50%;
    left:48% 
}
.orissa{
    top:54%;
    left:51% 
}
.maharashtra{
    top:55%;
    left:32% 
}
.goa{
    top:63%;
    left:30% 
}
.telangana{
    top:60%;
    left:41% 
}
.karnataka{
    top:69%;
    left:34% 
}
.andrapradesh{
    top:67%;
    left:41% 
}
.tamilnadu{
    top:75%;
    left:40% 
}
.kerala{
    top:77%;
    left:36% 
}
}

/* For smaller screens (max-width: 480px) */
@media (max-width: 600px) {
  .map-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -100px;
  }

  .responsive-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */

    object-fit: contain; /* Ensure the image fits and maintains aspect ratio */
  }


.state{
  font-size:7px
}
.state svg{
  font-size: 10px;
    margin-right: 2px;
}
   .jammu {
    top: 27%; /* Adjust the top position */
    left: 35%; /* Adjust the left position */
  }

  .punjab {
    top: 33%;
    left: 35%;
  }
  .himachal{
    top:32%;
    left:40%
  }
  .uttrakhand{
    top:35%;
    left:44%;
  }
  .haryana{
    top:36%;
    left:35%
  }
    .delhi{
    top:38%;
    left:38%
  }
  .rajasthan{
    top:39%;
    left:28%
  }
.uttarpardesh{
      top:42%;
    left:44%
}
.bihar{
      top:43%;
    left:55%
}
.jharkhand{
      top:47%;
    left:54%
}
.bengal{
      top:49%;
    left:59%
}
.sikkim{
  top:40%;
    left:61%
}
.assam{
   top:41%;
    left:66%
}
.meghalaya{
 top:43%;
    left:65%
}
.tripura{
   top:46%;
    left:67%
}
.mizoram{
   top:48%;
    left:70%
}

.nagaland{
   top:42%;
    left:73%
}
.arunachalpardesh{
   top: 37%;
    left:71%
}
.gujrat{
    top:48%;
    left:26% 
}
.madhyapradesh{
    top:48%;
    left:35% 
}
.chattishgarh{
    top:50%;
    left:48% 
}
.orissa{
    top:54%;
    left:51% 
}
.maharashtra{
    top:55%;
    left:32% 
}
.goa{
    top:62%;
    left:32% 
}
.telangana{
    top:58%;
    left:41% 
}
.karnataka{
    top:66%;
    left:34% 
}
.andrapradesh{
    top:63%;
    left:41% 
}
.tamilnadu{
    top:70%;
    left:40% 
}
.kerala{
    top:73%;
    left:37% 
}
}
@media (max-width: 480px) {
  .map-container {
    position: relative;
    width: 100%;
    height:520px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -10px;
  }

  .responsive-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */

   object-fit: cover; /* Ensure the image fits and maintains aspect ratio */
  }
  .state{
  font-size:7px
}
.state svg{
  font-size: 10px;
    margin-right: 2px;
}
  .jammu {
    top: 15%; /* Adjust the top position */
    left: 27%; /* Adjust the left position */
  }

  .punjab {
    top: 25%;
    left: 27%;
  }
  .himachal{
    top:22%;
    left:34%
  }
  .uttrakhand{
    top:27%;
    left:39%;
  }
  .haryana{
    top:29%;
    left:27%
  }
    .delhi{
    top:32%;
    left:30%
  }
  .rajasthan{
    top:36%;
    left:18%
  }
.uttarpardesh{
      top:36%;
    left:40%
}
.bihar{
      top:40%;
    left:55%
}
.jharkhand{
      top:46%;
    left:56%
}
.bengal{
      top:49%;
    left:65%
}
.sikkim{
  top:34%;
    left:65%
}
.assam{
   top:37%;
    left:76%
}
.meghalaya{
 top:40%;
    left:76%
}
.tripura{
   top:45%;
    left:76%
}
.mizoram{
   top:48%;
    left:82%
}

.nagaland{
   top:37%;
    left:87%
}
.arunachalpardesh{
   top:32%;
    left:82%
}
.gujrat{
    top:47%;
    left:14% 
}
.madhyapradesh{
    top:47%;
    left:29% 
}
.chattishgarh{
    top:52%;
    left:47% 
}
.orissa{
    top:56%;
    left:52% 
}
.maharashtra{
    top:57%;
    left:23% 
}
.goa{
    top:69%;
    left:17% 
}
.telangana{
    top:64%;
    left:37% 
}
.karnataka{
    top:73%;
    left:24% 
}
.andrapradesh{
    top:73%;
    left:37% 
}
.tamilnadu{
    top:82%;
    left:36% 
}
.kerala{
    top:84%;
    left:27% 
}
}





/* Popup Styling */
.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 90%;
  max-width: 400px;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.close-button {
  align-self: flex-end;
  background: #930000;
  color: white;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}


.close-button:hover {
  background-color: darkred;
}
